{% extends "main.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<body>
<p style="font-family: sans-serif; font-size: 25px "> ООО "Мама купи"</p>
<p style="font-family: sans-serif; font-size: 25px "> Республика Беларусь, 220055, г.Минск ул.Каменногорская, д.45, офис 44</p>
<p style="font-family: sans-serif; font-size: 25px "> Телефоны: </p>
<p style="font-family: sans-serif; font-size: 25px "> +375 (17) 515-90-50 (городской) </p>
<p style="font-family: sans-serif; font-size: 25px "> +375 (29) 7-828-858 (МТС) </p>
<p style="font-family: sans-serif; font-size: 25px "> Email: zakaz@mamakupi.by</p>

</body>
{% endblock %}