{% extends "main.html" %}
{% block content %}
<body>
<h2>Управление скидками</h2>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Выбрать</button>
    </form>
</div>
<br>

<div>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form_delete.as_table}}
        </table>
        <button>Убрать</button>
    </form>
</div>

<!--{% for product in products %}-->
<!--{{product}}-->
<!--{% endfor %}-->

</body>
{% endblock %}