{% extends "main.html" %}
{% block content %}
<body>
<h2>Профиль</h2>

<div class="profile">
    <p style="font-family: sans-serif">Имя: {{user.first_name}}</p>
    <p style="font-family: sans-serif">Фамилия: {{user.last_name}}</p>
    <p style="font-family: sans-serif"> {% if not user.profile.adress  %} Адрес:
        <form action="" method="post">
            {% csrf_token %}
    <textarea name="adress" id="" cols="30" rows="10"></textarea> <input type="submit" value="Добавить адрес">
        </form>
        {% endif %}</p>
    <p style="font-family: sans-serif">{% if user.profile.adress  %}Адрес: {{user.profile.adress}} {% endif %}</p>


    <p style="font-family: sans-serif"> {% if not user.profile.phone  %} Телефон:
        <form action="" method="post">
            {% csrf_token %}
    <input type="tel" name="phone"> <input type="submit" value="Добавить телефон">
        </form>
        {% endif %}</p>
    <p style="font-family: sans-serif">{% if user.profile.phone  %} Телефон: {{user.profile.phone}} {% endif %}</p>

    <p style="font-family: sans-serif">Электронная почта: {{user.email}}</p>
</div>



<p><a href="/accounts/profile/change/">Изменить профиль</a></p>
<p><a href="{% url 'main:password_change' %}">Изменить пароль</a></p>


</body>
{% endblock %}