{% extends "main.html" %}
{% block content %}
<body>
<h2>Профиль</h2>

<div class="profile">
    <p style="font-family: sans-serif">Имя: {{user.first_name}}</p>
    <p style="font-family: sans-serif">Фамилия: {{user.last_name}}</p>

    {% if not user.profile.adress  %}
        <form action="" method="post">
            {% csrf_token %}
            {{form_adress.as_table}}
            <button>Добавить адрес</button>
        </form>
    {% endif %}

    {% if not user.profile.phone  %}

        <form action="" method="POST">
            {% csrf_token %}
                    {{form_phone.as_table}}
            <button>Добавить</button>
        </form>
    {% endif %}

    <p style="font-family: sans-serif">{% if user.profile.adress  %}Адрес: {{user.profile.adress}} {% endif %}</p>
    <p style="font-family: sans-serif">{% if user.profile.phone  %} Телефон: {{user.profile.phone}} {% endif %}</p>

    <p style="font-family: sans-serif">Электронная почта: {{user.email}}</p>
</div>



<p><a href="/accounts/profile/change/">Изменить профиль</a></p>
<p><a href="{% url 'main:password_change' %}">Изменить пароль</a></p>


</body>
{% endblock %}