{% extends "main.html" %}
{% block content %}
<body>
<div>
   <h2>
       Доставка товаров по г. Минску осуществляется в понедельник, среду и пятницу с 12.00 до 17.00.
   </h2>
    <p style="font-size: 25px; color: cadetblue">
        Приобрести товар Вы можете оформив заказ через интернет-корзину или позвонив нам по телефону.
После получения заявки  по указанному вами телефону или e-mail  с вами свяжется менеджер для подтверждения заказа, уточнения даты и  времени доставки.
Если заказанный Вами товар временно отсутствует, мы обязательно сообщим Вам и поможем подобрать замену.
    </p>
    <p style="font-size: 25px">
        Срок осуществления доставки — от 1 до 3 рабочих дней.При форс-мажорных обстоятельствах или доставке товара под заказ- сроки оговариваются дополнительно.
Время доставки зависит от маршрута курьера и загруженности дорог, поэтому просим вас с пониманием отнестись к данным обстоятельствам. Курьер обязательно
       перезвонит за 20-30 минут до приезда. В случае невозможности доставки в указанный промежуток времени по независящим от нас обстоятельствам,
       мы обязуемся уведомить вас и перенести на удобное для Вас время.
Доставка товаров свыше 100,00 руб. осуществляется бесплатно по г. Минску.
    </p>


</div>

</body>
{% endblock %}